* {
  box-sizing: border-box;
}

html {
  min-width: 20rem;
  background: #10090b;
}

body {
  min-width: 20rem;
  margin: 0;
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}
